[submodule "proto/api"]
	path = proto/api
	url = /mnt/chonky/dev/temporal/api
	branch = versioning-api-refactor
[submodule "develop/docker-compose/grafana/provisioning/temporalio-dashboards"]
	path = develop/docker-compose/grafana/provisioning/temporalio-dashboards
	url = https://github.com/temporalio/dashboards
